#Projects{
    position: relative;
    margin: 300px auto 0;
    margin-top: 50px;
    width: 700px;
    height: auto;
    background: linear-gradient(0deg, #000, #272727);
}

#Projects h3{
    color:white;
    text-align:justify;
    padding: 10px;
}

#Projects h4{
    color:white;
    text-align:justify;
    padding: 10px;
}

.Projects:before, .Projects:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  #Projects:after {
    filter: blur(50px);
}