body{
    background-image: url(../images/fondo.gif);
    background-size: cover;
    background-position-y:center;

}

.navbar{
    display:inline-block;
    width:250px;
    height:200px;
    margin-bottom:-200px;
}

.navbar li{
    list-style-type: none;
    font-size: 20px;
}

.navbar a{
    text-decoration: none;
    color:grey;
}

.navbar a:hover{
    text-decoration: none;
    color: white;
    transition-duration:0.4s;
    cursor:pointer;
}

.navbar #inicio{
    list-style-type: none;
    font-size: 40px;
}

.navbar li:hover{
    color:white;
    transition-duration:0.4s;
    cursor: pointer;
}

#imagen{
    width: 380px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

#imagen img {
    width: 280px;
    height: 280px;
    border:4px solid rgb(255, 255, 255);
    border-radius:50%;
    display: block;
    margin: 0 auto;
}


#nombre h1{
    text-align:center;
    font-family: Arial, sans-serif;
    color:white;
}

#puesto h2{
    text-decoration-line:underline;
    text-align:center;
    font-family: Arial, sans-serif;
    color:rgb(139, 135, 135);
}

#pais{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

#pais h3{
    width: 350px;
    text-align:center;
    font-family: Arial, sans-serif;
    color:rgb(139, 135, 135);
}

#redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

#redes ion-icon{
    width:100px;
    height:100px;
    margin: 0 30px;
}