body{
    background-image: url(../images/fondo2.jpg);
    background-size:100%;
    background-position: left top;
}

.navbar{
    display:inline-block;
    width:150px;
    height:auto;
    margin-top:50px;
    margin-left:50px;
    margin-bottom:-200px;
    --s: 20px; /* the size on the corner */
    --t: 1px;  /* the thickness of the border */
    --g: 20px; /* the gap between the border and image */
    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid rgb(158, 158, 158); /* the color here */
    outline-offset: calc(-1*var(--t));
    mask:
        conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
        0 0/calc(100% - var(--s)) calc(100% - var(--s)),
        linear-gradient(#000 0 0) content-box;
    transition: .4s;
}

.navbar ul{
    padding-left:0;
}

.navbar li{
    list-style-type:none;
    font-size: 25px;
}

.navbar a{
    text-decoration: none;
    color:grey;
}

.navbar a:hover{
    text-decoration: none;
    color: white;
    transition-duration:0.4s;
    cursor:pointer;
}

.navbar #inicio{
    list-style-type: none;
    font-size: 40px;
}
